$bg-header-color: #e5e9ec;
$bg-main-color: #F8F9FE;
$primary-color: #002147;
$secondary-color: #648AED;
$green-color: #6FCF97;
$white-color: #F8F9FE;
$grey-color: #F2F2F2;
$dark-grey-color: #B4B4B4;

$boxshadow: 10px 0px 70px 2px rgba(0, 0, 0, 0.2);
$transition: .2s all ease;



